.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page-title {
  font-size: 22px;

}

.login-page-form {
  &__row {
    display: flex;
  }
}
