<div class="login-page">
  <div class="login-page-title">JSMT Telescope</div>

  <form class="login-page-form"
        (ngSubmit)="submit()"
        [formGroup]="form">
    <div class="login-page-form__row">
      <label class="login-page-form__label">Login:</label>
      <input class="login-page-form__input"
             autofocus
             type="text"
             formControlName="login">
    </div>

    <div class="login-page-form__row">
      <label class="login-page-form__label">Password:</label>
      <input class="login-page-form__input"
             type="password"
             formControlName="password">
    </div>

    <div class="login-page-form__actions">
      <button type="submit"
              [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>
</div>
